[default]
aws_access_key_id = {{ aws_logwriter_access_key_id }}
aws_secret_access_key = {{ aws_logwriter_secret_access_key }}

[ansible]
aws_access_key_id = {{ aws_ansible_access_key_id }}
aws_secret_access_key = {{ aws_ansible_secret_access_key }}
